{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert-alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div>Home page</div>
<br>

{% if current_user.is_authenticated%} 
    {% for event in events %}
        <div> Event id: {{ event.id }} </div>
        <div> Home: {{ event.home }} </div>
        <div> Away: {{ event.away }} </div>
        <br>
    {% endfor %}
{% else %}
<div>Login to see events.</div>
{% endif%}